@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

:root {
    --primary: #3b82f6;
    --text-main: #1e293b;
    --text-muted: #64748b;
    --border: #e2e8f0;
    --tag-background: #1e293b;
    --tag-color: #38bdf8;
}

body {
    font-family: 'Noto Sans', sans-serif;
    color: var(--text-main);
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: #EEAECA;
    background-image: linear-gradient(45deg,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    min-height: calc(100vh - 4rem);
}

.app {
    max-width: 900px;
    width: 100%;
}

header h1 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.badge {
    font-size: 0.7rem;
    background: var(--primary);
    color: white;
    padding: 2px 8px;
    border-radius: 12px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.content {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}

.canvas-parent {
    background: white;
    padding: 12px;
    border-radius: 16px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
    border: 1px solid var(--border);
}

canvas {
    display: block;
    border-radius: 4px;
    background: var(--canvas-bg);
}

.value-tag {
    display: inline-block;
    background: var(--tag-background);
    padding: 4px 8px;
    margin-left: 4px;
    border-radius: 6px;
    font-size: 0.75rem;
    color: var(--tag-color);
    font-weight: 700;
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    min-width: 2rem;
    text-align: center;
}

svg.lucide {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: -0.125em;
    width: 1em;
    height: 1em;
    stroke: currentColor;
    stroke-width: 2px;
    fill: none;
    flex-shrink: 0;
    margin-right: 4px;
}

.text-icon {
    margin-right: 4px;
}

input[type=range] {
    accent-color: var(--primary);
    cursor: grab;
}

input[type=range]:active {
    cursor: grabbing;
}
